<div class="body__admin">
    <div class="grid__column-2 menu__admin-left">
                <h3 class="dashboard">
                    
                    <i class="category__heading-icon fas fa-home"></i>
                    <a href="/" class="">Dashboard</a>
                    
                </h3>
                <nav class="category">
                    <h3 class="admin__active category__heading menu__admin-category">
                        
                        <i class="category__heading-icon far fa-chart-bar"></i>
                        <a href="/" class="">Thống Kê Website</a>
                        
                    </h3>
                    <h3 class="category__heading menu__admin-category">
                        
                        <i class="category__heading-icon fas fa-book-medical"></i>
                        <a href="/admin/managerItems">Toàn Bộ Sản Phẩm</a>
                    </h3>
                     <h3 class="category__heading menu__admin-category">
                        <i class="category__heading-icon fas fa-plus-circle"></i>
                        <a href="/admin/addItems">Thêm Sản Phẩm</a>
                    </h3>
                     <h3 class="category__heading menu__admin-category">
                        
                        <i class="category__heading-icon fas fa-users"></i>
                        <a href="/admin/managerUser">Quản Lí Người Dùng</a>
                    </h3>
                    
                </nav>
    </div>
    <div class="manager__items menu__admin-right">
        <div class="statistical-top">
            <div class="statistical member-online">
                <div class="member-online-infor">
                    <div class="member-online-infor-qty">
                        <span class="member-online-infor-tilte">Số người đang trực tuyến</span><br>
                        <span class="member-online-infor-count">8</span><br>
                        <span class="member-online-infor-persent">Tăng 14% so với tuần trước</span>


                    </div>
                    <div class="member-online-icon">
                        <i class="member-online-icon-book fas fa-book"></i>
                    </div>
                </div>
                <svg id="SvgjsSvg2115" width="430" margin='0 0 0 10' xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG2117" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs2116"><clipPath id="gridRectMaskee68d2zc"><rect id="SvgjsRect2122" width="509" height="68" x="-3.5" y="-1.5" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="gridRectMarkerMaskee68d2zc"><rect id="SvgjsRect2123" width="506" height="69" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><filter id="SvgjsFilter2130" filterUnits="userSpaceOnUse" width="200%" height="200%" x="-50%" y="-50%"><feFlood id="SvgjsFeFlood2131" flood-color="#17a00e" flood-opacity="0.12" result="SvgjsFeFlood2131Out" in="SourceGraphic"></feFlood><feComposite id="SvgjsFeComposite2132" in="SvgjsFeFlood2131Out" in2="SourceAlpha" operator="in" result="SvgjsFeComposite2132Out"></feComposite><feOffset id="SvgjsFeOffset2133" dx="14" dy="3" result="SvgjsFeOffset2133Out" in="SvgjsFeComposite2132Out"></feOffset><feGaussianBlur id="SvgjsFeGaussianBlur2134" stdDeviation="4 " result="SvgjsFeGaussianBlur2134Out" in="SvgjsFeOffset2133Out"></feGaussianBlur><feMerge id="SvgjsFeMerge2135" result="SvgjsFeMerge2135Out" in="SourceGraphic"><feMergeNode id="SvgjsFeMergeNode2136" in="SvgjsFeGaussianBlur2134Out"></feMergeNode><feMergeNode id="SvgjsFeMergeNode2137" in="[object Arguments]"></feMergeNode></feMerge><feBlend id="SvgjsFeBlend2138" in="SourceGraphic" in2="SvgjsFeMerge2135Out" mode="normal" result="SvgjsFeBlend2138Out"></feBlend></filter></defs><g id="SvgjsG2139" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG2140" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"></g></g><g id="SvgjsG2142" class="apexcharts-grid"><g id="SvgjsG2143" class="apexcharts-gridlines-horizontal" style="display: none;"><line id="SvgjsLine2145" x1="0" y1="0" x2="502" y2="0" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine2146" x1="0" y1="13" x2="502" y2="13" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine2147" x1="0" y1="26" x2="502" y2="26" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine2148" x1="0" y1="39" x2="502" y2="39" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine2149" x1="0" y1="52" x2="502" y2="52" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine2150" x1="0" y1="65" x2="502" y2="65" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line></g><g id="SvgjsG2144" class="apexcharts-gridlines-vertical" style="display: none;"></g><line id="SvgjsLine2152" x1="0" y1="65" x2="502" y2="65" stroke="transparent" stroke-dasharray="0"></line><line id="SvgjsLine2151" x1="0" y1="1" x2="0" y2="65" stroke="transparent" stroke-dasharray="0"></line></g><g id="SvgjsG2125" class="apexcharts-line-series apexcharts-plot-series"><g id="SvgjsG2126" class="apexcharts-series" seriesName="Revenue" data:longestSeries="true" rel="1" data:realIndex="0"><path id="SvgjsPath2129" d="M 0 49.4C 15.97272727272727 49.4 29.663636363636364 54.6 45.63636363636363 54.6C 61.6090909090909 54.6 75.3 21.384999999999998 91.27272727272727 21.384999999999998C 107.24545454545454 21.384999999999998 120.93636363636364 38.09 136.9090909090909 38.09C 152.88181818181818 38.09 166.57272727272726 28.925000000000004 182.54545454545453 28.925000000000004C 198.5181818181818 28.925000000000004 212.2090909090909 48.295 228.18181818181816 48.295C 244.15454545454543 48.295 257.8454545454545 6.435000000000002 273.8181818181818 6.435000000000002C 289.79090909090905 6.435000000000002 303.4818181818182 25.155 319.45454545454544 25.155C 335.4272727272727 25.155 349.1181818181818 17.745000000000005 365.09090909090907 17.745000000000005C 381.0636363636363 17.745000000000005 394.75454545454545 38.09 410.7272727272727 38.09C 426.69999999999993 38.09 440.3909090909091 28.925000000000004 456.3636363636363 28.925000000000004C 472.33636363636356 28.925000000000004 486.0272727272727 48.295 501.99999999999994 48.295" fill="none" fill-opacity="1" stroke="rgba(23,160,14,1)" stroke-opacity="1" stroke-linecap="butt" stroke-width="3" stroke-dasharray="0" class="apexcharts-line" index="0" clip-path="url(#gridRectMaskee68d2zc)" filter="url(#SvgjsFilter2130)" pathTo="M 0 49.4C 15.97272727272727 49.4 29.663636363636364 54.6 45.63636363636363 54.6C 61.6090909090909 54.6 75.3 21.384999999999998 91.27272727272727 21.384999999999998C 107.24545454545454 21.384999999999998 120.93636363636364 38.09 136.9090909090909 38.09C 152.88181818181818 38.09 166.57272727272726 28.925000000000004 182.54545454545453 28.925000000000004C 198.5181818181818 28.925000000000004 212.2090909090909 48.295 228.18181818181816 48.295C 244.15454545454543 48.295 257.8454545454545 6.435000000000002 273.8181818181818 6.435000000000002C 289.79090909090905 6.435000000000002 303.4818181818182 25.155 319.45454545454544 25.155C 335.4272727272727 25.155 349.1181818181818 17.745000000000005 365.09090909090907 17.745000000000005C 381.0636363636363 17.745000000000005 394.75454545454545 38.09 410.7272727272727 38.09C 426.69999999999993 38.09 440.3909090909091 28.925000000000004 456.3636363636363 28.925000000000004C 472.33636363636356 28.925000000000004 486.0272727272727 48.295 501.99999999999994 48.295" pathFrom="M -1 65L -1 65L 45.63636363636363 65L 91.27272727272727 65L 136.9090909090909 65L 182.54545454545453 65L 228.18181818181816 65L 273.8181818181818 65L 319.45454545454544 65L 365.09090909090907 65L 410.7272727272727 65L 456.3636363636363 65L 501.99999999999994 65"></path><g id="SvgjsG2127" class="apexcharts-series-markers-wrap" data:realIndex="0"><g class="apexcharts-series-markers"><circle id="SvgjsCircle2158" r="0" cx="136.9090909090909" cy="38.09" class="apexcharts-marker w4g8q1ke2 no-pointer-events" stroke="#ffffff" fill="#17a00e" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g></g><g id="SvgjsG2128" class="apexcharts-datalabels" data:realIndex="0"></g></g><line id="SvgjsLine2154" x1="0" y1="0" x2="502" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG2155" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG2156" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG2157" class="apexcharts-point-annotations"></g></g><rect id="SvgjsRect2120" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect><g id="SvgjsG2141" class="apexcharts-yaxis" rel="0" transform="translate(-18, 0)"></g><g id="SvgjsG2118" class="apexcharts-annotations"></g></svg>
            </div>
            <div class="statistical total-customer">
                <div class="member-online-infor">
                    <div class="member-online-infor-qty">
                        <span class="member-online-infor-tilte">Tổng số khách hàng đã mua</span><br>
                        <span class="member-online-infor-count">100</span><br>
                        <span class="member-online-infor-persent">Tăng 10% so với tuần trước</span>


                    </div>
                    <div class="member-online-icon-user">
                        <i class="member-online-icon-user fas fa-user-friends"></i>
                        
                    </div>
                </div>
                <svg id="SvgjsSvg2160" width="430" height="65" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;margin-left: 10px;"><g id="SvgjsG2162" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs2161"><clipPath id="gridRectMasktvxti130l"><rect id="SvgjsRect2167" width="509" height="68" x="-3.5" y="-1.5" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="gridRectMarkerMasktvxti130l"><rect id="SvgjsRect2168" width="506" height="69" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><filter id="SvgjsFilter2175" filterUnits="userSpaceOnUse" width="200%" height="200%" x="-50%" y="-50%"><feFlood id="SvgjsFeFlood2176" flood-color="#ffc107" flood-opacity="0.12" result="SvgjsFeFlood2176Out" in="SourceGraphic"></feFlood><feComposite id="SvgjsFeComposite2177" in="SvgjsFeFlood2176Out" in2="SourceAlpha" operator="in" result="SvgjsFeComposite2177Out"></feComposite><feOffset id="SvgjsFeOffset2178" dx="14" dy="3" result="SvgjsFeOffset2178Out" in="SvgjsFeComposite2177Out"></feOffset><feGaussianBlur id="SvgjsFeGaussianBlur2179" stdDeviation="4 " result="SvgjsFeGaussianBlur2179Out" in="SvgjsFeOffset2178Out"></feGaussianBlur><feMerge id="SvgjsFeMerge2180" result="SvgjsFeMerge2180Out" in="SourceGraphic"><feMergeNode id="SvgjsFeMergeNode2181" in="SvgjsFeGaussianBlur2179Out"></feMergeNode><feMergeNode id="SvgjsFeMergeNode2182" in="[object Arguments]"></feMergeNode></feMerge><feBlend id="SvgjsFeBlend2183" in="SourceGraphic" in2="SvgjsFeMerge2180Out" mode="normal" result="SvgjsFeBlend2183Out"></feBlend></filter></defs><g id="SvgjsG2184" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG2185" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"></g></g><g id="SvgjsG2187" class="apexcharts-grid"><g id="SvgjsG2188" class="apexcharts-gridlines-horizontal" style="display: none;"><line id="SvgjsLine2190" x1="0" y1="0" x2="502" y2="0" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine2191" x1="0" y1="13" x2="502" y2="13" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine2192" x1="0" y1="26" x2="502" y2="26" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine2193" x1="0" y1="39" x2="502" y2="39" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine2194" x1="0" y1="52" x2="502" y2="52" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine2195" x1="0" y1="65" x2="502" y2="65" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line></g><g id="SvgjsG2189" class="apexcharts-gridlines-vertical" style="display: none;"></g><line id="SvgjsLine2197" x1="0" y1="65" x2="502" y2="65" stroke="transparent" stroke-dasharray="0"></line><line id="SvgjsLine2196" x1="0" y1="1" x2="0" y2="65" stroke="transparent" stroke-dasharray="0"></line></g><g id="SvgjsG2170" class="apexcharts-line-series apexcharts-plot-series"><g id="SvgjsG2171" class="apexcharts-series" seriesName="Customers" data:longestSeries="true" rel="1" data:realIndex="0"><path id="SvgjsPath2174" d="M 0 49.4C 15.97272727272727 49.4 29.663636363636364 54.6 45.63636363636363 54.6C 61.6090909090909 54.6 75.3 21.384999999999998 91.27272727272727 21.384999999999998C 107.24545454545454 21.384999999999998 120.93636363636364 38.09 136.9090909090909 38.09C 152.88181818181818 38.09 166.57272727272726 28.925000000000004 182.54545454545453 28.925000000000004C 198.5181818181818 28.925000000000004 212.2090909090909 48.295 228.18181818181816 48.295C 244.15454545454543 48.295 257.8454545454545 6.435000000000002 273.8181818181818 6.435000000000002C 289.79090909090905 6.435000000000002 303.4818181818182 25.155 319.45454545454544 25.155C 335.4272727272727 25.155 349.1181818181818 17.745000000000005 365.09090909090907 17.745000000000005C 381.0636363636363 17.745000000000005 394.75454545454545 38.09 410.7272727272727 38.09C 426.69999999999993 38.09 440.3909090909091 28.925000000000004 456.3636363636363 28.925000000000004C 472.33636363636356 28.925000000000004 486.0272727272727 48.295 501.99999999999994 48.295" fill="none" fill-opacity="1" stroke="rgba(255,193,7,1)" stroke-opacity="1" stroke-linecap="butt" stroke-width="3" stroke-dasharray="0" class="apexcharts-line" index="0" clip-path="url(#gridRectMasktvxti130l)" filter="url(#SvgjsFilter2175)" pathTo="M 0 49.4C 15.97272727272727 49.4 29.663636363636364 54.6 45.63636363636363 54.6C 61.6090909090909 54.6 75.3 21.384999999999998 91.27272727272727 21.384999999999998C 107.24545454545454 21.384999999999998 120.93636363636364 38.09 136.9090909090909 38.09C 152.88181818181818 38.09 166.57272727272726 28.925000000000004 182.54545454545453 28.925000000000004C 198.5181818181818 28.925000000000004 212.2090909090909 48.295 228.18181818181816 48.295C 244.15454545454543 48.295 257.8454545454545 6.435000000000002 273.8181818181818 6.435000000000002C 289.79090909090905 6.435000000000002 303.4818181818182 25.155 319.45454545454544 25.155C 335.4272727272727 25.155 349.1181818181818 17.745000000000005 365.09090909090907 17.745000000000005C 381.0636363636363 17.745000000000005 394.75454545454545 38.09 410.7272727272727 38.09C 426.69999999999993 38.09 440.3909090909091 28.925000000000004 456.3636363636363 28.925000000000004C 472.33636363636356 28.925000000000004 486.0272727272727 48.295 501.99999999999994 48.295" pathFrom="M -1 65L -1 65L 45.63636363636363 65L 91.27272727272727 65L 136.9090909090909 65L 182.54545454545453 65L 228.18181818181816 65L 273.8181818181818 65L 319.45454545454544 65L 365.09090909090907 65L 410.7272727272727 65L 456.3636363636363 65L 501.99999999999994 65"></path><g id="SvgjsG2172" class="apexcharts-series-markers-wrap" data:realIndex="0"><g class="apexcharts-series-markers"><circle id="SvgjsCircle2203" r="0" cx="182.54545454545453" cy="28.925000000000004" class="apexcharts-marker wvw3casih no-pointer-events" stroke="#ffffff" fill="#ffc107" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g></g><g id="SvgjsG2173" class="apexcharts-datalabels" data:realIndex="0"></g></g><line id="SvgjsLine2199" x1="0" y1="0" x2="502" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG2200" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG2201" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG2202" class="apexcharts-point-annotations"></g></g><rect id="SvgjsRect2165" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect><g id="SvgjsG2186" class="apexcharts-yaxis" rel="0" transform="translate(-18, 0)"></g><g id="SvgjsG2163" class="apexcharts-annotations"></g></svg>

            </div>
            <div class="statistical store-visited">
                <div class="member-online-infor">
                    <div class="member-online-infor-qty">
                        <span class="member-online-infor-tilte">Tổng số khách đã truuy cập vào trang web</span><br>
                        <span class="member-online-infor-count">{{viewed}}</span><br>
                        <span class="member-online-infor-persent">giảm 8% so với tuần trước</span>


                    </div>
                    <div class="member-online-icon-access">
                        <i class="member-online-icon-access fas fa-binoculars"></i>
                        
                    </div>
                </div>
                <svg id="SvgjsSvg2205" width="430" height="65" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;margin-left: 10px;"><g id="SvgjsG2207" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs2206"><clipPath id="gridRectMaskz5uh9xyd"><rect id="SvgjsRect2212" width="509" height="68" x="-3.5" y="-1.5" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="gridRectMarkerMaskz5uh9xyd"><rect id="SvgjsRect2213" width="506" height="69" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><filter id="SvgjsFilter2220" filterUnits="userSpaceOnUse" width="200%" height="200%" x="-50%" y="-50%"><feFlood id="SvgjsFeFlood2221" flood-color="#f41127" flood-opacity="0.12" result="SvgjsFeFlood2221Out" in="SourceGraphic"></feFlood><feComposite id="SvgjsFeComposite2222" in="SvgjsFeFlood2221Out" in2="SourceAlpha" operator="in" result="SvgjsFeComposite2222Out"></feComposite><feOffset id="SvgjsFeOffset2223" dx="14" dy="3" result="SvgjsFeOffset2223Out" in="SvgjsFeComposite2222Out"></feOffset><feGaussianBlur id="SvgjsFeGaussianBlur2224" stdDeviation="4 " result="SvgjsFeGaussianBlur2224Out" in="SvgjsFeOffset2223Out"></feGaussianBlur><feMerge id="SvgjsFeMerge2225" result="SvgjsFeMerge2225Out" in="SourceGraphic"><feMergeNode id="SvgjsFeMergeNode2226" in="SvgjsFeGaussianBlur2224Out"></feMergeNode><feMergeNode id="SvgjsFeMergeNode2227" in="[object Arguments]"></feMergeNode></feMerge><feBlend id="SvgjsFeBlend2228" in="SourceGraphic" in2="SvgjsFeMerge2225Out" mode="normal" result="SvgjsFeBlend2228Out"></feBlend></filter></defs><g id="SvgjsG2229" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG2230" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"></g></g><g id="SvgjsG2232" class="apexcharts-grid"><g id="SvgjsG2233" class="apexcharts-gridlines-horizontal" style="display: none;"><line id="SvgjsLine2235" x1="0" y1="0" x2="502" y2="0" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine2236" x1="0" y1="13" x2="502" y2="13" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine2237" x1="0" y1="26" x2="502" y2="26" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine2238" x1="0" y1="39" x2="502" y2="39" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine2239" x1="0" y1="52" x2="502" y2="52" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine2240" x1="0" y1="65" x2="502" y2="65" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line></g><g id="SvgjsG2234" class="apexcharts-gridlines-vertical" style="display: none;"></g><line id="SvgjsLine2242" x1="0" y1="65" x2="502" y2="65" stroke="transparent" stroke-dasharray="0"></line><line id="SvgjsLine2241" x1="0" y1="1" x2="0" y2="65" stroke="transparent" stroke-dasharray="0"></line></g><g id="SvgjsG2215" class="apexcharts-line-series apexcharts-plot-series"><g id="SvgjsG2216" class="apexcharts-series" seriesName="StorexVisitores" data:longestSeries="true" rel="1" data:realIndex="0"><path id="SvgjsPath2219" d="M 0 49.4C 15.97272727272727 49.4 29.663636363636364 54.6 45.63636363636363 54.6C 61.6090909090909 54.6 75.3 21.384999999999998 91.27272727272727 21.384999999999998C 107.24545454545454 21.384999999999998 120.93636363636364 38.09 136.9090909090909 38.09C 152.88181818181818 38.09 166.57272727272726 28.925000000000004 182.54545454545453 28.925000000000004C 198.5181818181818 28.925000000000004 212.2090909090909 48.295 228.18181818181816 48.295C 244.15454545454543 48.295 257.8454545454545 6.435000000000002 273.8181818181818 6.435000000000002C 289.79090909090905 6.435000000000002 303.4818181818182 25.155 319.45454545454544 25.155C 335.4272727272727 25.155 349.1181818181818 17.745000000000005 365.09090909090907 17.745000000000005C 381.0636363636363 17.745000000000005 394.75454545454545 38.09 410.7272727272727 38.09C 426.69999999999993 38.09 440.3909090909091 28.925000000000004 456.3636363636363 28.925000000000004C 472.33636363636356 28.925000000000004 486.0272727272727 48.295 501.99999999999994 48.295" fill="none" fill-opacity="1" stroke="rgba(244,17,39,1)" stroke-opacity="1" stroke-linecap="butt" stroke-width="3" stroke-dasharray="0" class="apexcharts-line" index="0" clip-path="url(#gridRectMaskz5uh9xyd)" filter="url(#SvgjsFilter2220)" pathTo="M 0 49.4C 15.97272727272727 49.4 29.663636363636364 54.6 45.63636363636363 54.6C 61.6090909090909 54.6 75.3 21.384999999999998 91.27272727272727 21.384999999999998C 107.24545454545454 21.384999999999998 120.93636363636364 38.09 136.9090909090909 38.09C 152.88181818181818 38.09 166.57272727272726 28.925000000000004 182.54545454545453 28.925000000000004C 198.5181818181818 28.925000000000004 212.2090909090909 48.295 228.18181818181816 48.295C 244.15454545454543 48.295 257.8454545454545 6.435000000000002 273.8181818181818 6.435000000000002C 289.79090909090905 6.435000000000002 303.4818181818182 25.155 319.45454545454544 25.155C 335.4272727272727 25.155 349.1181818181818 17.745000000000005 365.09090909090907 17.745000000000005C 381.0636363636363 17.745000000000005 394.75454545454545 38.09 410.7272727272727 38.09C 426.69999999999993 38.09 440.3909090909091 28.925000000000004 456.3636363636363 28.925000000000004C 472.33636363636356 28.925000000000004 486.0272727272727 48.295 501.99999999999994 48.295" pathFrom="M -1 65L -1 65L 45.63636363636363 65L 91.27272727272727 65L 136.9090909090909 65L 182.54545454545453 65L 228.18181818181816 65L 273.8181818181818 65L 319.45454545454544 65L 365.09090909090907 65L 410.7272727272727 65L 456.3636363636363 65L 501.99999999999994 65"></path><g id="SvgjsG2217" class="apexcharts-series-markers-wrap" data:realIndex="0"><g class="apexcharts-series-markers"><circle id="SvgjsCircle2248" r="0" cx="45.63636363636363" cy="54.6" class="apexcharts-marker wpvxqvkef no-pointer-events" stroke="#ffffff" fill="#f41127" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g></g><g id="SvgjsG2218" class="apexcharts-datalabels" data:realIndex="0"></g></g><line id="SvgjsLine2244" x1="0" y1="0" x2="502" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG2245" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG2246" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG2247" class="apexcharts-point-annotations"></g></g><rect id="SvgjsRect2210" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect><g id="SvgjsG2231" class="apexcharts-yaxis" rel="0" transform="translate(-18, 0)"></g><g id="SvgjsG2208" class="apexcharts-annotations"></g></svg>
            </div>        

        </div>

       
        <div class="menu__admin-right-order">
            <table class="table">
                <h3 class='menu__admin-right-order-nameRow'>Danh sách các đơn đặt hàng</h3>
                <thead class="table-light  table-light-nameROw">
                   <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Tên khách hàng</th>
                    <th scope="col">Thời gian đặt</th>
                    <th scope="col">Số điện thoại</th>
                    <th scope="col">Địa chỉ</th>
                   
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Action</th>
                    <th scope="col">Tình trạng đơn</th>

                </tr>
                </thead>
                <tbody class="table-light-nameROw">
                    {{#each bill}}
                        <tr>
                            <th scope="row">{{sum @index 1}}</th>
                            <td>{{this.name}}</td>
                            <td>{{this.created_at}}</td>
                            <td>{{this.phoneNumber}}</td>
                            <td>{{this.address}}</td>
                            {{#if this.delivery}}
                                {{#if this.status}}
                                    <td class="checkBill">Đã nhận hàng</td>
                                    
                                {{else}}
                                    <td class="checkBill">Đang giao hàng</td>

                                {{/if}}




                            {{else}}
                                <td class="checkBill">Chờ xử lí</td>
                            {{/if}}
                            <td>
                                <a href="/admin/detailBill/{{this._id}}">Xem chi tiết</a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn_complete-invoice" style="background-color:#f7b924" href="/admin/complete/{{this._id}}">hoàn thành</a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div> 
</div>
<script>
    const checkBill = document.querySelectorAll('.checkBill');
    const btnCompleteBill = document.querySelectorAll('.btn_complete-invoice');
    
    for(let i = 0; i < checkBill.length ; i++){
        if(checkBill[i].textContent == "Đang giao hàng" ){
            btnCompleteBill[i].style.backgroundColor = '#d92550';
            btnCompleteBill[i].textContent = "Kết thúc đơn";
        }else if(checkBill[i].textContent == "Đã nhận hàng" ){
            btnCompleteBill[i].style['pointer-events'] = 'none';

            btnCompleteBill[i].style.backgroundColor = '#3ac47d';
        }else if(checkBill[i].textContent == "Chờ xử lí"){
            btnCompleteBill[i].textContent = "xác nhận giao hàng";

            btnCompleteBill[i].style['pointer-events'] = 'none';
        }

      
        
    }
    console.log(btnCompleteBill);
</script>

 